<h1> All Docs </h1>

<% @docs.each do |doc| %>
  <h2><%= link_to doc.title, doc%></h2>
  <p><%= time_ago_in_words(doc.created_at)%></p>
  <p><%= truncate(doc.content, length:50)%></p>
<% end %>

<%= link_to 'Create Doc', new_doc_path %>